{% extends 'shoppage/basic.html' %}
{% block title %}{{product.category}} {% endblock %}
{% block css %}
<style>
    label {
        margin-top: 11px;
    }

    h1 {
        margin-top: 35px;
        font-style: italic;
        text-transform: uppercase;
    }

    .col-lg-6 {
        margin-left: auto;
        margin-right: auto;
    }

    #sign {
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .form-control {
        margin-top: 22px;
    }

    #signin {
        margin-top: 20px;
        margin-bottom: 191px;
    }

    .btn-primary a {
        color: white;
    }

    .status {
        margin-top: 10px;
        margin-bottom: 20px;
        font-style: italic;
        font-size: larger;
        font-family: unset;
    }

    .form-check-inline .form-check-input {
        width: 34px;
    }
</style>
{% endblock %}
{% block body %}
<div id="alert1"></div>
<div class="container">
    <form class="col-lg-6" enctype="multipart/form-data"  action="/signin/" method="post" id="signinForm">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" required class="form-control" name="email" placeholder="Email address" autofocus>
        <label for="inputPassword" id="label1" class="sr-only">Password</label>
        <input type="password" id="password" required name="password" data-toggle="tooltip" title="Hooray!" class="form-control"
            placeholder="Password">
        <label for="inputPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="confirmpass" name="confirmpassword" required class="form-control"
            placeholder="Confirm Password">
        <div class="status">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="status" checked id="inlineRadio1" value="seller">
                <label class="form-check-label" for="inlineRadio1">Sign in as Seller</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" checked name="status" id="inlineRadio2" value="buyer">
                <label class="form-check-label" for="inlineRadio2">Sign in as Buyer</label>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onmouseover="verification()">Create
            Account</button>
        <button class="btn btn-lg btn-primary btn-block" id="signin"><a href="/login">Sign in</a></button>

    </form>
</div>
{% endblock %}
{% block js %}
<script>
    function verification() {

        password = document.getElementById('password').value;
        confirmpass = document.getElementById('confirmpass').value;
           if (password.length <= 7) {
            newnode = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
      Password length should be more than 7
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>`
            document.getElementById('alert1').innerHTML = newnode;
            $(document).ready(function () {
                // show the alert
                setTimeout(function () {
                    $(".alert").alert('close');
                }, 2000);
            });
        }
        if (confirmpass !== password) {
            document.getElementById('password').value = "";
            document.getElementById('confirmpass').value = "";
            newnode = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
password did not match re-enter password  
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>`
            document.getElementById('alert1').innerHTML = newnode;
            $(document).ready(function () {
                // show the alert
                setTimeout(function () {
                    $(".alert").alert('close');
                }, 2000);
            });
        }
      
    }
</script>


{% endblock %}